@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap%27');

* {
	box-sizing: border-box;
	padding: 2px;
}
body {
	background-color: bisque;
}
#page-top {
	display: flex;
	flex-direction: row;
	height: 5vh;
	align-items: center;
	padding: 0;
	border-bottom: 2px solid black;
}

#button-nav-container {
	display: flex;
	align-items: center;
}

#title-nav-container {
	display: flex;
	justify-content: center;
	width: 100%;
}

#page-title {
	font-size: 1.5rem;
	color: black;
}

#button-nav {
	width: 30px;
	height: 30px;
}

#title-nav {
	display: flex;
	align-items: flex-start;
}

#add-book {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	font-size: 0.6rem;
	height: 40px;
	width: 80px;
}

#main-content {
	display: flex;
	flex-direction: row;
}

#roulette-container {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	width: 100%;
	padding: 0 20px;
}

h2 {
	text-align: center;
	margin: 0;
}

#roulette-img {
	width: 100%;
	/* max-width: 400px; */
	height: auto;
	height: auto;
	position: relative;
	z-index: -99;
}

.icon {
	height: 25px;
	background-size: cover;
	color: black;
}

#button-nav {
	border: none;
	background-color: bisque;
	margin-bottom: 5px;
}

.icon:hover {
	border: 4px solid rgba(112, 74, 23, 0.541);
}

.nav {
	display: block;
	position: absolute;
	width: 135px;
}

.nav.active {
	background-color: white;
	padding: 8px;
	padding-left: 8px;
	box-shadow: 3px 5px 5px rgba(0, 0, 0, 0.3);
}

nav button {
	margin-left: 10px;
}

.nav-ul {
	display: flex;
	padding: 0;
	margin-top: 20px;
	gap: 5px;
	flex-direction: column;
	font-size: 12px;
	text-decoration: none;
}

nav.active ul {
	width: 100%;
}

nav ul li {
	list-style: none;
	color: black;
}

.nav-link:hover {
	font-size: 1.2rem;
}

a {
	text-decoration: none;
}

/* @keyframes navSlideDown {
	0% {
	}
} */
